* {
    margin: 0;
    padding: 0;
}

html , body {
    height: 100px;
}

body {
    font-family: system-ui;
    color: white;
    background: rgb(97, 93, 175);
    background: linear-gradient(90deg, rgb(79, 76, 128) 0%, rgb(80, 80, 145) 35%, rgb(147, 169, 234) 100%);
}
.avatar {
    width: 100px;
    border-radius: 50px;
    border: 3px solid white;
    border-width: 0px;
    box-shadow: 0 0 20px white;
}
h1 {
    font-family: system-ui;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}

.social img {
    width: 33px;
}

.links-list {
    list-style: none;
}

.links-list li {
    margin:  10px 20px;
}

.links-list li a {
    background: white;
    padding: 15px 20px;
    display: block;
    box-shadow: 0 0 20px white;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(14, 7, 159);
    font-weight: bold;
}

.links-list li a span {
    color: grey;
    display: block;
    margin-top: 10px;
}